<!DOCTYPE html>

@model StoreViewModel

<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/wwwroot/css/register.css">
        <!-- Website CSS style -->
        <link rel="stylesheet" type="text/css" href="/wwwroot/css/register.css">
        <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <title>Admin</title>
    </head>
    <body>
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                   <div class="panel-title text-center">
                        <h1 class="title">Mejores Precios</h1>
                        <hr/>
                    </div>
                 <h3 class="modifyStore">Modificar Tienda</h3>
                </div> 
                <div class="main-login main-center">
                    <form class="form-horizontal" id="form1" name="form1" method="post" asp-controller="Store" asp-action="Update">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Name" id="Name" placeholder="Ingrese nombre" value="@Model.Name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        @if (ViewData.ModelState.ContainsKey("ubicationInvalid")) {
                            <div class="error" style="color: red">La ubicacion debe estar dentro de Capital Federal.</div>
                        }
                            <label for="Address" class="cols-sm-2 control-label">Direccion</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="Address" id="Address" placeholder="Ingrese direccion" value="@Model.Address"/>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="Id" id="Id" value="@Model.Id"/>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg btn-block login-button" value="Actualizar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>