<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Disculpas, no se escuentra registrado.</h2>
                  <p>Resgitrese!</p>
                  <a asp-area="" asp-controller="Login" asp-action="Register" class="btn btn-primary btn-lg btn-block" aria-pressed="true">Resgistrarse</a>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>