<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h1 class="text-center">Se ha enviado el mail!</h1>
                  <p>Revise su email y cambia su contraseña clickeando en el enlace del email. </p>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>